<div class="loan-calculator">
  <div class="title">Calculate Loan</div>
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()" (reset)="reset()">
      <div class="form-field">
        <label> Monthly Income </label>
        <input type="number" formControlName="monthlyIncome" min="0" />
        <div>
          <small
            class="text-danger"
            *ngIf="
              form.get('monthlyIncome')?.touched &&
              form.get('monthlyIncome')?.hasError('min')
            "
          >
            Monthly income should be minimum
            {{ loanCalculatorParameters.MIN_MONTHLY_INCOME }}.
          </small>
          <small class="text-danger" *ngIf="serverErrorMessages.monthlyIncome">
            {{ serverErrorMessages.monthlyIncome }}
          </small>
        </div>
      </div>
      <div class="form-field">
        <label> Requested Amount </label>
        <input type="number" formControlName="requestedAmount" min="0" />
        <div>
          <small
            class="text-danger"
            *ngIf="
              form.get('monthlyIncome')?.touched &&
              form.get('monthlyIncome')?.hasError('min')
            "
          >
            Minimum request amount should be
            {{ loanCalculatorParameters.MIN_REQUESTED_AMOUNT }}.
          </small>
          <small
            class="text-danger"
            *ngIf="serverErrorMessages.requestedAmount"
          >
            {{ serverErrorMessages.requestedAmount }}
          </small>
        </div>
      </div>
      <div class="form-field">
        <label> Loan Term </label>
        <select formControlName="loanTerm">
          <option
            *ngFor="let option of loanTermOptions"
            [ngValue]="option.value"
          >
            {{ option.displayValue }}
          </option>
        </select>
        <div></div>
      </div>
      <div class="form-field">
        <label> Children </label>
        <select formControlName="children">
          <option value="NONE">None</option>
          <option value="SINGLE">Single</option>
          <option value="MULTIPLE">Multiple</option>
        </select>
        <div>
          <small class="text-danger" *ngIf="serverErrorMessages.children">
            {{ serverErrorMessages.children }}
          </small>
        </div>
      </div>
      <div class="form-field">
        <label> Co-applicant </label>
        <select formControlName="coapplicant">
          <option value="NONE">None</option>
          <option value="SINGLE_BORROWER">Single</option>
          <option value="MULTIPLE_BORROWERS">Multiple</option>
        </select>
        <div>
          <small class="text-danger" *ngIf="serverErrorMessages.coapplicant">
            {{ serverErrorMessages.coapplicant }}
          </small>
        </div>
      </div>
      <div class="actions" *ngIf="!loanSuccessMessage.length">
        <button class="secondary" type="reset">Reset</button>
        <button type="submit" [disabled]="form.status === 'INVALID'">
          Submit
        </button>
      </div>
      <div class="message" *ngIf="loanSuccessMessage.length">
        <span>{{ loanSuccessMessage }}</span
        ><span class="start-over" (click)="reset()">Click Here!</span>
      </div>
    </form>
  </div>
</div>
