<div class="loan-calculator">
  <div class="title">Calculate Loan</div>
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()" (reset)="reset()">
      <div class="form-field" *ngFor="let formField of formFields">
        <label> {{ formField.label }}</label>
        <ng-container [ngSwitch]="formField.fieldType">
          <input
            *ngSwitchCase="formFieldType.INPUT"
            [formControlName]="formField.formControlName"
          />
          <select
            *ngSwitchCase="formFieldType.SELECT"
            [formControlName]="formField.formControlName"
          >
            <option
              *ngFor="let option of formField.options"
              [ngValue]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </ng-container>
        <div>
          <small
            class="text-danger"
            *ngIf="
              form.get(formField.formControlName)?.touched &&
              form.get(formField.formControlName)?.hasError('required')
            "
          >
            Please enter {{ formField.label }}
          </small>
          <small
            class="text-danger"
            *ngIf="
              form.get(formField.formControlName)?.touched &&
              form.get(formField.formControlName)?.hasError('min')
            "
          >
            {{ formField.label + " should be minimum" }}
          </small>
          <small
            class="text-danger"
            *ngIf="serverErrorMessages[formField.formControlName]"
          >
            {{ serverErrorMessages[formField.formControlName] }}
          </small>
        </div>
      </div>
      <div class="actions" *ngIf="!loanSuccessMessage.length">
        <button class="secondary" type="reset">Reset</button>
        <button type="submit" [disabled]="form.status === 'INVALID'">
          Submit
        </button>
      </div>
      <div class="message" *ngIf="loanSuccessMessage.length">
        <span>{{ loanSuccessMessage }}</span
        ><span class="start-over" (click)="reset()">Click Here!</span>
      </div>
    </form>
  </div>
</div>
